image: inspr/ci-sr:0.3
# Definitions
#-------------------------------------------------------------------------------
# This folder is cached between builds
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache

stages:
  - build
  - test
  - deploy

variables:
  DANGER_GITLAB_HOST: "https://gitlab.inspr.com"
  DANGER_GITLAB_API_BASE_URL: "https://gitlab.inspr.com/api/v4"
  DOCKER_HOST: tcp://localhost:2375/
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

.base-client:
  image: pedrotavares1998/chimera-ci:v0.0.1

client:build:build:
  stage: build
  script: make build
  allow_failure: false
  extends: 
    - .base-client
      
client:test:lint:
  stage: test
  script: make lint
  allow_failure: true
  extends: .base-client

cli:deploy:deploy:
  stage: deploy
  script: make deploy
  only:
    refs:
      - master
  extends: .base-client
