image: pedrotavares1998/chimera-ci:v1.0.0
# Definitions
#-------------------------------------------------------------------------------
# This folder is cached between builds
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache

stages:
  - build
  - test
  - deploy

variables:
  DANGER_GITLAB_HOST: "https://gitlab.inspr.com"
  DANGER_GITLAB_API_BASE_URL: "https://gitlab.inspr.com/api/v4"
  DOCKER_HOST: tcp://localhost:2375/
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

client:build:build:
  stage: build
  script: make build
  allow_failure: false

client:test:lint:
  stage: test
  script: make lint
  allow_failure: true

cli:deploy:deploy:
  stage: deploy
  before_script:
    - mkdir $HOME/.ssh
    - echo $SSHKEY > $HOME/.ssh/id_rsa.pub
  script: make deploy
  only:
    refs:
      - master
